extends base

block content
  main.main
    .homePage
      .homePage__title
       nav.nav.nav--tours
          a.nav__el(href='/apply')
             button.btn.btn--green Apply For Job
          a.nav__el(href='/getAllCandidates')
             button.btn.btn--green See all Candidates  
       
